body{
	font-family: verdana;
	background-color: #E4E4E4;
}

main{
	background-color: white;
	margin: 12% 10%;
	padding: 1%;
}

header{
	text-align: center;
	font-size: 0.6em;
}

h2{
	color: red;
}

#fotoperfil{
	border-radius: 100px;
	margin-top: -10%;
	border: solid 10px #E4E4E4;
}

span{
	color: red;
}

footer{
	background-color: white;
	text-align: right;
	margin: -12% 10%;
	padding: 1%;
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11 .col-md-12{
	float: left;
}

p{
	padding: 0 2%;
	font-size: 0.8em;
}

.row{
	clear:both;	
	padding-left: 2%;
	margin: 0.5%;
	overflow: hidden;
	box-sizing: border-box;
}

.año{
	box-sizing: border-box;
	float: left;
	padding: -30% 3%;
}

.educacion{
	background-color: #E4E4E4;
	box-sizing: border-box;
	float: left;
	text-align: left;
	margin-bottom: 4%;
	margin-left: 4%;
	padding-left: 2%;
	border-radius: 5px;
}

.container {
    width: 100%;
}

.skills {
    text-align: left;
    padding: 1%;
    color: white;
    background-color: red;
    margin-bottom: 5%;
}

.html {
	width: 90%;
}
.css {
	width: 80%; 	
}
.js {
	width: 65%; 
}
.php {
	width: 60%; 
}

.fa{
	color: silver;
	margin: 16px 0px;
}

.checked {
    color: red;
}

.linea{
	background-color: silver;
	height: 2px;
	width: 100%;
}

ul{
	padding-left: 0px;
}

ul li{
	margin-left: 1em;
}

li{
	font-size: 0.8em;
}

.hobbies{
	list-style-type: none;
	display: block;
	float: left;
	background-color: #3F487D;
	color: white;
	padding: 2% 3%;
	margin: 2% 3% 2% 0%;
	box-sizing: border-box;
	border-radius: 5px;
}

.col-md-1{
	width: 8.33%;
}

.col-md-2{
	width: 16.66%;
}

.col-md-3{
	width: 24.99%;
}

.col-md-4{
	width: 33.32%;
}

.col-md-5{
	width: 41.65%;
}

.col-md-6{
	width: 49.98%;
}

.col-md-7{
	width: 58.31%;
}

.col-md-8{
	width: 66.64%;
}

.col-md-9{
	width: 74.970%;
}

.col-md-10{
	width: 88.33%;
}

.col-md-11{
	width: 91.63%;
}

.col-md-12{
	width: 100%;
}

.col-md-offset-1{
	margin-left: 8.33%;
}

.col-md-offset-2{
	margin-left: 16.66%;
}

.col-md-offset-3{
	margin-left: 24.99%;
}

.col-md-offset-4{
	margin-left: 33.32%;
}

.col-md-offset-5{
	margin-left: 41.65%;
}

.col-md-offset-6{
	margin-left: 49.98%;
}

.col-md-offset-7{
	margin-left: 58.31%;
}

.col-md-offset-8{
	margin-left: 66.64%;